:root {
  --speed: 500ms; 
}

* {
  margin: 0;
  overscroll-behavior: none
}

body {
  display: flex;
  flex-direction: column;
  background: rgba(240, 240, 240, 0.5);
  margin: 0;
}

#root {
  margin: 0; 
}

.companyList {
  top: 51px;
  background: rgba(240, 240, 240, 0.5);
  position: fixed;
  overflow: hidden;
  z-index: 3000;
}

.companyList-dropdown {
  margin-top: 5px;
  position: fixed;
  z-index: 3000;
}

.donotwrap {
  max-width: 80vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.donotwrapcell {
  max-width: 10vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.donotwrapfield {
  max-width: 75vw;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}


.drawerPaper {
  width: 85vw;
  padding: 1rem;
}

.drawer-paper-full {
  width: 100vw;
  padding: 1rem;
  background: rgba(240, 240, 240, 0.5);
}

.notification {
  background-color: rgba(230, 230, 230, 0.3);
  background-blend-mode: screen;
  backdrop-filter: blur(10px);
}

.footerblur {
  background-color: rgba(240, 240, 240, 0.7);
  backdrop-filter: blur(10px);
}

.footer-menu {
  display: flex !important;
  align-items: stretch !important;
  min-width: 100vw !important; 
  padding: 0px !important;
}

.network {
  display:block;
  width:1000px;
  height:700px;
  background-color:white;
}

.text-field {
  position: relative;
  padding-top: .8rem;
  height: 65px;
}

.text-field-label {
  position: absolute;
  font-size: .75rem;
  font-weight: bold;
  padding-left: .85rem;
  transform: translate(0, -16px) scale(1);
}

.text-field-input {
  position: absolute;
  width: 100%;
  padding-left: .2rem;
  transform: translate(0, 5px) scale(1);
}
 
.wrapper {
  display: flex;
  min-width: 50vw;
}

.dropdown {
  display: flex;
}

.dropdown-menu {
  position: absolute;         
}

.container {
  min-height: 95vh;
  
}

.textarea {
  border-radius: 20px;
  white-space: nowrap;
  font-size: .75rem;
}

.textareafield {
  white-space: pre-wrap;
}

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  -webkit-animation: rotate 1s infinite linear;
  /* left, top and position just for the demo! */
  position: absolute;
  left: 50%;
  top: 50%;
}

@-webkit-keyframes rotate {
  /* 100% keyframe for  clockwise. 
     use 0% instead for anticlockwise */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@keyframes dropDown {
  0% {max-height:0%;}
  100% {max-height:100%;}
}


  




